
* {
  box-sizing: border-box;
}

:root {

  --primary: #00a0df;
  --background: #f2f4f8;
  --card: #ffffff;
  --text: #1850c9;
  --muted: rgba(17, 24, 39, 0.65);
  --border: rgba(17, 24, 39, 0.12);

  --radius: 14px;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}


h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--muted);
}


a {
  color: var(--text);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


form {
  width: 100%;
}


button {
  font-family: inherit;
}

body {
  padding-top: 80px;
}
